/* Custome properties/variables */
:root {
  --color-white: #f0f0f0;
  --color-red: #be3144;
  --color-dark-blue: #45567d;
  --color-gray: #303841;
  --color-dark-gray: #212124;
  --color-coral: #ff7f50;
  --color-company-name: #dc4e48;
}

/* Base Reset */
* {
  padding: 0;
  margin: 0;
  /* font-family: "Raleway", sans-serif; */
}

/* box-sizing & font-sizing */
*,
*::before,
*::after {
  /* box-sizing: border-box; */
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 100% / 16px * 10 = 1rem change of default browser font to 10px */
  scroll-behavior: smooth;
}

/* 1201px / 16px = 75.06em */
@media (min-width: 75.06rem) {
  html {
    font-size: 64%;
  }
}

/* 1200px / 16px = 75em */
@media ((max-width: 87.5rem) and (min-width: 61.26rem)) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 16.25em */
@media ((max-width: 61.25rem) and (min-width: 26.58rem)) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 26.57rem) {
  html {
    font-size: 55%;
  }

  /* Base Style */

  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
  }
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-white);
}

/* 1401px / 16px = 90rem */
@media (min-width: 90rem) {
  h1 {
    font-size: 6.3rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  p {
    font-size: 2rem;
  }
  .general {
    font-size: 2.5rem;
  }
}

/* 1400px / 16px = 87.5em */
@media ((max-width: 90rem) and (min-width: 61.26rem)) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.7rem;
  }
  p {
    font-size: 2rem;
  }
  .general {
    font-size: 2rem;
  }
}

/* 980px / 16px = 61.25em */
@media ((max-width: 61.25rem) and (min-width: 26.58rem)) {
  h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  .general {
    font-size: 2rem;
  }
}

/* 425px / 16px = 26.57em */
@media (max-width: 26.57rem) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .general {
    font-size: 1.5rem;
  }
}

/* h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  width: 100%;
}
p {
  font-family: "Raleway", sans-serif;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem 1.2rem;
  border-radius: 4px;
}
.general {
  font-weight: 600;
}
