/* NAVBAR */
.nav-section {
  width: 100%;
  background-color: var(--color-red);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding: auto 2rem;
}
.nav-logo {
  padding: 1.3rem 3.5rem;
}
@media (max-width: 28.75rem) {
  .nav-logo {
    padding: 1rem 2rem;
  }
}
.nav-logo img {
  width: 3.6rem;
  height: 100%;
}
.nav-lst {
  display: flex;
  justify-content: flex-end;
  color: var(--color-white);
  margin-right: 2rem;
}
.nav-lst li {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}
.nav-lst a {
  /* text-decoration: none; */
  /* color: var(--color-white); */
}
@media (max-width: 28.75rem) {
  .nav-lst {
    display: none;
  }
}

@media (min-width: 28.75rem) {
  .nav-toggle {
    display: none;
  }
}

#nav-toggle-checkbox {
  display: none;
}
.nav-toggle-icon {
  width: 22px;
  height: 22px;
  margin-left: 15px;
  cursor: pointer;
  margin-right: 25px;
}
.nav-toggle-spinner {
  height: 3px;
  background: var(--color-dark-gray);
  transition: all 0.3s;
  width: 16px;
}
.nav-toggle-spinner.middle,
.nav-toggle-spinner.bottom {
  margin-top: 2px;
}
#nav-toggle-checkbox:checked ~ .nav-toggle-lst-section {
  transform: translate(10px);
}
#nav-toggle-checkbox:checked ~ .nav-toggle-icon > .nav-toggle-spinner.middle {
  opacity: 0;
}
#nav-toggle-checkbox:checked ~ .nav-toggle-icon > .nav-toggle-spinner.top {
  transform: rotate(135deg);
  margin-top: 9px;
}
#nav-toggle-checkbox:checked ~ .nav-toggle-icon > .nav-toggle-spinner.bottom {
  transform: rotate(-135deg);
  margin-top: -7px;
}

.nav-toggle-lst-section {
  text-align: left;
  /* overflow: hidden; */
  transition: all 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 0;
  margin: 58px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(-180px);
  transition: transform 250ms easy-in-out;
}
.nav-toggle-lst {
  background: var(--color-dark-gray);
  opacity: 0.9;
  border-bottom: var(--color-white) 1px solid;
}
.nav-toggle-lst a {
  display: block;
  padding: 6px;
}

.nav-toggle-lst li:hover {
  border-bottom: 1px solid #b4ac97;
}
.nav-toggle-lst a:hover {
  font-weight: 600;
}

/* WELCOME SCREEN */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}
#welcome-section h1 {
  font-size: 6rem;
  font-weight: 700;
}
#welcome-section p {
  color: var(--color-red);
  font-style: italic;
  font-size: 3rem;
  font-weight: 100;
}

/* PROJECTS */
.projects-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.inner-projects-section {
  padding: 5% 10% 10%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.projects_title {
  border: 2px solid yellow;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 1rem;
  padding: 2rem auto;
}

/* CONTACT */
#contact {
  background: var(--color-dark-gray);
  /* padding:200px;  */
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding: 15px; */
  color: var(--color-white);
  font-size: 0.8rem;
}

.inner_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
}

#profile_links {
  display: flex;
  flex-direction: row;
}
#profile-link {
  margin-right: 9px;
  border: 2px solid var(--color-red);
  padding: 7px;
  border-radius: 6px;
  box-shadow: 0px 0px 22px var(--color-red);
}
.copy-right a {
  color: var(--color-company-name);
  text-decoration: none;
  cursor: pointre;
}
