* {
  font-family: var(--font-primary);
}
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100vw;
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
}

@media (min-width: 793px) {
  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    overflow-y: auto;
  }
  footer {
    margin-top: auto;
  }
}

/* HEADER */
.container_header {
  margin: 46px auto;
}
.wrapper_title_section {
  display: flex;
  flex-direction: column;
  gap: 23px;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color: var(--color-primary);
}
.wrapper_title {
  font-family: var(--font-secondary);
}
.wrapper_slogan {
  font-weight: 600;
  font-size: small;
  white-space: nowrap;
}
.comma_slogan::before {
  content: ", ";
}

@media (min-width: 2560px) {
  .container_header {
    margin: 70px auto;
  }
  .wrapper_title_section {
    gap: 34px;
  }
  .wrapper_title {
    font-size: 88px;
  }
  .wrapper_slogan {
    font-size: larger;
  }
}
@media (max-width: 2559px) {
  .wrapper_title {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .wrapper_title {
    font-size: 51px;
  }
}
@media (max-width: 768px) {
  .wrapper_title {
    font-size: 43px;
  }
}
/* @media (max-width: 425px) { */
@media (max-width: 598px) {
  .wrapper_title_section {
    gap: 17px;
  }
  .wrapper_title {
    font-size: 34px;
  }
  .wrapper_slogan {
    white-space: normal;
  }
  .comma_slogan::before {
    content: "";
  }
}
@media (max-width: 320px) {
  .container_header {
    margin: 46px auto;
  }
  .wrapper_title {
    font-size: 31px;
  }
  .wrapper_slogan {
    font-size: smaller;
    /* font-weight: lighter; */
    font-size: small;
  }
}

/* FOOTER */
.container_footer {
  background-color: var(--color-white);
  width: 100vw;
}
.wrapper_copy_right {
  width: 100%;
}
.inner_wrapper_copy_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-size: 11px;
  font-weight: 700;
  color: var(--color-primary);
  background-color: var(--color-white);
}
.fa-copyright {
  margin-bottom: 1px;
}
.fa-copyright:before {
  font-weight: 600;
  font-size: 9px;
  color: var(--color-primary);
  margin-right: 2px;
}
.inner_wrapper_copy_right a {
  color: var(--color-company-name);
  text-decoration: none;
}

@media (min-width: 1440px) {
  .inner_wrapper_copy_right {
    margin: 16px auto;
    font-size: 16px;
  }
  .fa-copyright {
    margin-bottom: 3px;
  }
  .fa-copyright:before {
    font-size: 13px;
  }
}
@media (max-width: 1440px) and (min-width: 598px) {
  .inner_wrapper_copy_right {
    margin: 12px auto;
    font-size: 12px;
  }
  .fa-copyright {
    margin-bottom: 2px;
  }
  .fa-copyright:before {
    font-size: 10px;
  }
}
/* @media (max-width: 425px) and (min-width: 321px) { */
@media (max-width: 598px) and (min-width: 321px) {
  .container_footer {
    margin-top: 116px;
  }
  .inner_wrapper_copy_right {
    margin: 17px auto;
  }
}
@media (max-width: 320px) {
  .container_footer {
    margin-top: 100px;
  }
  .inner_wrapper_copy_right {
    margin: 10px auto;
  }
}

/* MAIN */
/* FLIP CARD */
.wrapper_flip_card {
  /* perspective: 10000px; */
  width: 300px;
  height: 450px;
  margin: auto;
  border-radius: 15px;
}
.inner_wrapper_flip_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.wrapper_flip_card:hover .inner_wrapper_flip_card {
  transform: rotateY(180deg);
}

/* @media (min-width: 427px) { */
@media (min-width: 793px) {
  .container_filp_cards {
    margin: auto 10%;
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 30px; */
    grid-auto-flow: row;
  }
  /* .wrapper_flip_card {
    width: 266px;
    height: 370px;
  } */
}
@media (min-width: 1441px) {
  .container_filp_cards {
    grid-template-columns: auto auto auto auto;
    gap: 30px;
  }
  .wrapper_flip_card {
    width: 266px;
    height: 370px;
  }
}
@media (max-width: 1440px) and (min-width: 900px) {
  .container_filp_cards {
    /* margin: 1% 1%; */
  }
  .wrapper_flip_card {
    width: 69%;
    /* height: 420px; */
    /* margin: unset; */
  }
}
@media (max-width: 900px) and (min-width: 793px) {
  .container_filp_cards {
    grid-template-columns: auto auto;
    row-gap: 24px;
    margin: auto 14% 7%;
  }
  .wrapper_flip_card {
    width: 264px;
    height: 357px;
  }
}

@media (max-width: 792px) and (min-width: 599px) {
  .container_filp_cards {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    gap: 46px;
  }
  .wrapper_flip_card {
    width: 525px;
    height: 271px;
  }
}
@media (max-width: 598px) {
  .container_filp_cards {
    margin: 57px auto;
    display: flex;
    flex-direction: column;
    gap: 29px;
  }
  .wrapper_flip_card {
    width: 266px;
    height: 370px;
  }
}
@media (max-width: 375px) {
  .container_filp_cards {
    gap: 49px;
  }
}
@media (max-width: 320px) {
  .container_filp_cards {
    margin: 52px auto;
    gap: 47px;
  }
  .wrapper_flip_card {
    width: 246px;
    height: 350px;
  }
}

/* Card Both Sides */
.wrapper_flip_card_front,
.wrapper_flip_card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--color-primary);
  border-radius: 15px;
}

@media (max-width: 900px) and (min-width: 793px) {
  .wrapper_flip_card_front,
  .wrapper_flip_card_back {
    width: 97%;
    height: 98%;
  }
}
@media (max-width: 792px) and (min-width: 599px) {
  .wrapper_flip_card_front,
  .wrapper_flip_card_back {
    width: 99%;
    height: 98%;
  }
}
@media (max-width: 598px) {
  .wrapper_flip_card_front,
  .wrapper_flip_card_back {
    border: 2px solid var(--color-primary);
    width: 262px;
    height: 366px;
  }
}
@media (max-width: 320px) {
  .wrapper_flip_card_front,
  .wrapper_flip_card_back {
    border: 2px solid var(--color-primary);
    width: 242px;
    height: 346px;
  }
}

/* Card Front Side */
.wrapper_flip_card_front {
  background-color: var(--color-white);
}
.wrapper_img_face {
  text-align: center;
}
.wrapper_flip_card_front img {
  width: 100%;
}

@media (max-width: 900px) and (min-width: 793px) {
  .wrapper_flip_card_front img {
    width: 84%;
  }
}
@media (max-width: 792px) and (min-width: 599px) {
  .wrapper_img_face {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .wrapper_img_face::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 41px;
    width: 36%;
    height: 79%;
    background: url(../assets/images/infinix-zero-1.webp) top right no-repeat;
    background-size: cover;
  }
  .wrapper_img_face img {
    width: 188%;
    height: 198%;
    object-fit: contain;
    padding-top: 55px;
  }
}
@media (max-width: 320px) {
  .wrapper_flip_card_front img {
    width: 98%;
  }
}

/* Card Back Side */
.wrapper_flip_card_back {
  background-color: var(--color-primary);
  transform: rotateY(180deg);
}
.inner_wrapper_flip_card_back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--color-white);
}
.wrapper_img_flip_card {
  text-align: center;
}
.wrapper_img_flip_card img {
  width: 55%;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
}
.wrapper_details_flip_card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.wrapper_name_flip_card {
  font-size: medium;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
.wrapper_spec_flip_card {
  white-space: nowrap;
  font-size: smaller;
  letter-spacing: 0.5px;
}
.fa-usd:before {
  font-weight: 100;
}
.price_flip_card {
  font-weight: 700;
}
.wrapper_btns_flip_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper_btn_flip_card {
  text-decoration: none;
  width: 88px;
  display: inline-block;
  text-align: center;
  border: 2px solid var(--color-white);
  border-radius: 5px;
  padding: 3px 3px;
  transition: 0.5s;
  cursor: pointer;
}
.wrapper_btn_flip_card button {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: none;
  border: none;
  text-align: center;
  color: var(--color-white);
  background: none;
  border: none;
  text-align: center;
}

.wrapper_btn_flip_card:hover {
  background: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 5px;
}
.wrapper_btn_flip_card:hover button {
  background: none;
  border: none;
  font-weight: 700;
  color: var(--color-primary);
  cursor: pointer;
}

/* @media (max-width: 425px) { */
@media (max-width: 598px) {
  .inner_wrapper_flip_card_back {
    gap: 15px;
  }
  .wrapper_img_flip_card img {
    width: 55%;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
  }
  .wrapper_details_flip_card {
    row-gap: 10px;
  }
  .wrapper_name_flip_card {
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .wrapper_spec_flip_card {
    font-size: smaller;
    letter-spacing: 0.5px;
  }
  .fa-usd:before {
    font-weight: 100;
  }
  .wrapper_btn_flip_card {
    width: 88px;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    padding: 3px 3px;
  }
  .wrapper_btn_flip_card button {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .wrapper_btn_flip_card:hover {
    border: 2px solid var(--color-white);
    border-radius: 5px;
  }
  .wrapper_btn_flip_card:hover button {
    font-weight: 700;
  }
}
@media (max-width: 792px) and (min-width: 599px) {
  .inner_wrapper_flip_card_back {
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 15px;
  }
  .wrapper_img_flip_card {
    flex: 1;
  }
  .wrapper_img_flip_card img {
    width: 55%;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
  }
  .wrapper_details_flip_card {
    flex: 1;
    row-gap: 14px;
    margin-right: 2%;
    text-align: center;
  }
  .wrapper_name_flip_card {
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .wrapper_spec_flip_card {
    font-size: smaller;
    letter-spacing: 0.5px;
  }
  .fa-usd:before {
    font-weight: 100;
  }
  .wrapper_btns_flip_card {
    justify-content: space-around;
  }
  .wrapper_btn_flip_card {
    width: 88px;
    border: 3px solid var(--color-white);
    border-radius: 7px;
    padding: 5px 5px;
  }
  .wrapper_btn_flip_card button {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .wrapper_btn_flip_card:hover {
    border: 2px solid var(--color-white);
    border-radius: 5px;
  }
  .wrapper_btn_flip_card:hover button {
    font-weight: 700;
  }
}
@media (max-width: 900px) and (min-width: 793px) {
  .inner_wrapper_flip_card_back {
    gap: 15px;
  }
  .wrapper_img_flip_card img {
    width: 55%;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
  }
  .wrapper_details_flip_card {
    row-gap: 10px;
  }
  .wrapper_name_flip_card {
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .wrapper_spec_flip_card {
    font-size: smaller;
    letter-spacing: 0.5px;
  }
  .fa-usd:before {
    font-weight: 100;
  }
  .wrapper_btn_flip_card {
    width: 88px;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    padding: 3px 3px;
  }
  .wrapper_btn_flip_card button {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .wrapper_btn_flip_card:hover {
    border: 2px solid var(--color-white);
    border-radius: 5px;
  }
  .wrapper_btn_flip_card:hover button {
    font-weight: 700;
  }
}
@media (max-width: 1440px) and (min-width: 900px) {
  .inner_wrapper_flip_card_back {
    gap: 15px;
  }
  .wrapper_img_flip_card img {
    width: 55%;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
  }
  .wrapper_details_flip_card {
    row-gap: 10px;
  }
  .wrapper_name_flip_card {
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .wrapper_spec_flip_card {
    font-size: smaller;
    letter-spacing: 0.5px;
  }
  .fa-usd:before {
    font-weight: 100;
  }
  .wrapper_btn_flip_card {
    width: 88px;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    padding: 3px 3px;
  }
  .wrapper_btn_flip_card button {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .wrapper_btn_flip_card:hover {
    border: 2px solid var(--color-white);
    border-radius: 5px;
  }
  .wrapper_btn_flip_card:hover button {
    font-weight: 700;
  }
}
