* {
  font-family: var(--font-primary);
}
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Header */
.container_header {
  margin: 46px auto;
}
.wrapper_title_section {
  display: flex;
  flex-direction: column;
  gap: 23px;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color: var(--color-primary);
}
.wrapper_title {
  font-family: var(--font-secondary);
}
.wrapper_slogan {
  font-weight: 600;
  font-size: small;
  white-space: nowrap;
}
.comma_slogan::before {
  content: ", ";
}

@media (min-width: 2550px) {
  .container_header {
    margin: 70px auto;
  }
  .wrapper_title_section {
    gap: 34px;
  }
  .wrapper_title {
    font-size: 88px;
  }
  .wrapper_slogan {
    font-size: larger;
  }
}
@media (max-width: 2550px) {
  .wrapper_title {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .wrapper_title {
    font-size: 51px;
  }
}
@media (max-width: 768px) {
  .wrapper_title {
    font-size: 43px;
  }
}
@media (max-width: 425px) {
  .wrapper_title_section {
    gap: 17px;
  }
  .wrapper_title {
    font-size: 34px;
  }
  .wrapper_slogan {
    white-space: normal;
  }
  .comma_slogan::before {
    content: "";
  }
}
@media (max-width: 320px) {
  .wrapper_title {
    font-size: 31px;
  }
  .wrapper_slogan {
    font-size: smaller;
  }
}

/* MAIN */
/* FLIP CARD */
.wrapper_flip_card {
  /* border: 2px solid green; */
  /* background-color: yellow; */
  /* perspective: 10000px; */
  width: 300px;
  height: 450px;
  margin: auto;
  border-radius: 20px;
}
.inner_wrapper_flip_card {
  /* border: 3px solid var(--color-primary); */
  /* border-radius: 20px; */
  /* background-color: var(--color-primary); */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.wrapper_flip_card:hover .inner_wrapper_flip_card {
  transform: rotateY(180deg);
}
.wrapper_flip_card_front,
.wrapper_flip_card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--color-primary);
  border-radius: 25px;
}
.wrapper_flip_card_front {
  background-color: var(--color-white);
}
.wrapper_flip_card_front img {
  width: 100%;
}
.wrapper_flip_card_back {
  background-color: var(--color-primary);

  transform: rotateY(180deg);
  z-index: 1;
}

@media (max-width: 425px) {
  .container_filp_cards {
    margin: 73px auto;
  }
  .wrapper_flip_card {
    width: 266px;
    height: 370px;
  }
  .wrapper_flip_card_front,
  .wrapper_flip_card_back {
    border: 2px solid var(--color-primary);
  }
}
@media (max-width: 320px) {
  .container_filp_cards {
    margin: 55px auto;
  }
  .wrapper_flip_card {
    width: 246px;
    height: 350px;
  }
  .wrapper_flip_card_front img {
    width: 98%;
  }
}

/* 
.container-flip-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
  margin: 7% 10%;
}

.flip-card {
  height: 450px;
  width: 300px;
  margin: auto;
}
.flip-card-back {
  background-color: #044367;
  color: #fff;
  transform: rotateY(180deg);
  z-index: 1;
  border-radius: 30px;
  padding: 12% 19%;
  margin-left: -120px;
}
.flip-card-back .back-header {
  height: 45%;
  text-align: center;
}
.flip-card-back .back-header img {
  width: 70%;
  margin-top: 20px;
}
.flip-card-back img {
  border-radius: 20px;
}

.flip-card-inner {
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-back,
.flip-card-front {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  border: 5px solid #044367;
  padding: 20% 25% 0% 10%;
  border-radius: 30px;
}
.flip-card-front img {
  height: 80%;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-back .back-footer {
  height: 55%;
  padding: 0 15px;
}
.back-footer h2 {
  margin-top: 50px;
  white-space: nowrap;
  text-align: center;
}
.back-footer a {
  text-decoration: none;
  width: 120px;
  display: inline-block;
  text-align: center;
  padding: 7px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  transition: 0.5s;
}
.back-footer a:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #044367;
  border-radius: 5px;
} */
