.wrapper_vacation_types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.inner_wrapper_vacation_types {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: 50%;
  border: 1px solid #057743;
}
.wrapper_cbx_group {
  border: 1px solid #440577;
  /* padding: 4px; */
  /* margin: 8px; */
  /* width: 100px; */
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.wrapper_cbx_field {
  border: 1px solid #26d935;
}
.cbx_field[type="checkbox"] {
  display: none;
}
.wrapper_cbx_lbl {
  border: 1px solid #d9269d;
  width: 40px;
  height: 40px;
  gap: 200px;
}
.cbx_lbl {
  /* position: relative; */
  font-family: bokonique;
  font-size: 26px;
  letter-spacing: 1.2px;
  line-height: 1px;
  color: #000000;
  cursor: pointer;
}
.cbx_lbl::before {
  content: "";
  /* position: absolute; */
  /* left: -62px;
  top: -10px; */
  width: 40px;
  height: 40px;
  border: 6px solid #000000;
  border-radius: 50%;
}
/* .wrapper_cbx_vacation_type input[type="checkbox"]:checked + label::before {
} */
.cbx_lbl::after {
  /* content: ""; */
  /* position: absolute; */
  /* left: -47px;
  top: 4px; */
  width: 23px;
  height: 23px;
  background-color: #c78d2f;
  border-radius: 50%;
}

.cbx_field:not(:checked) + .cbx_lbl::after {
  transform: scale(0);
  opacity: 0;
}
.cbx_field:checked + .cbx_lbl::after {
  transform: rotate(35deg) scale(1);
  opacity: 1;
}
