:root {
  --radio-border-color: #000000;
  --radio-checked-color: #c78d2f;
  --radio-hover-color: #c78d2f;
  --radio-disabled-bg-color: #909090;
  --color-primary: #c78d2f;
  --color-secondary: #00b7bb;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #d00d0d;
  --color-yellow: #ffb820;
  --color-blue: #095699;
  --color-dark-blue: #35474b;
  --color-lime-green: #7cd424;

  --font-primary: bokonique;
  --font-primary-bold: bokonique-bold;
  --font-secondary: MochiyPopPOne;
}

@font-face {
  font-family: MochiyPopPOne;
  src: url(./../assets/fonts/MochiyPopPOne-Regular.ttf);
}
@font-face {
  font-family: bokonique;
  src: url(./../assets/fonts/bokonique/Bokonique-Regular.otf);
}
@font-face {
  font-family: bokonique-bold;
  src: url(./../assets/fonts/bokonique/Bokonique-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
/* Fonts */
.font-primary {
  font-family: var(--font-primary);
}
.font-primary-bold {
  font-family: var(--font-primary-bold);
}
.font-secondary {
  font-family: var(--font-secondary);
}

/* Colors */
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-red {
  color: var(--color-red);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-blue {
  color: var(--color-blue);
}
.color-dark-blue {
  color: var(--color-dark-blue);
}
.color-lime-green {
  color: var(--color-lime-green);
}

/* apply for all in index.css file  * {
  box-sizing: border-box;
} */
