@font-face {
  font-family: MochiyPopPOne;
  src: url(./../assets/fonts/MochiyPopPOne-Regular.ttf);
}
@font-face {
  font-family: bokonique;
  src: url(./../assets/fonts/bokonique/Bokonique-Regular.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* **Navbar */
.container_nav {
  margin: 69px 75px auto 100px;
}

/* logo */
.wrapper_logo {
  position: absolute;
  left: 69px;
  top: 35px;
  z-index: -1;
}

/* wrapper_top_nav */
.wrapper_top_nav {
  display: flex;
  flex-direction: row;
}

/* txt_logo */
.wrapper_logo_txt {
  color: #c78d2f;
  font-family: MochiyPopPOne;
  font-size: 35px;
  width: min-content;
}

/* top navbar */
.wrapper_top_tabs_nav {
  display: flex;
  flex-direction: row;
  font-family: bokonique;
  font-size: 24px;
  margin-left: 14px;
  margin-top: -22px;
  margin-bottom: 27px;
  position: relative;
}
.top_tab {
  margin-right: 47px;
  letter-spacing: 0.2px;
}
.top_tab_txt:hover,
.active {
  color: #c78d2f;
}

/* line b/w */
.wrapper_top_tabs_nav::after {
  content: "";
  height: 1px;
  width: 101%;
  background-color: #000000;
  opacity: 27%;
  position: absolute;
  left: -33px;
  bottom: -25px;
}

/* contact nav */
.wrapper_contact_nav {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
}

/* Search box */
.wrapper_search_bx {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  width: 300px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.search_icon {
  margin: 5px 9px;
}
.search_bx {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.search_bx:hover,
.search_bx:focus,
.search_bx:focus-visible {
  border: none;
  outline: none;
}
.wrapper_search_bx:hover,
.wrapper_search_bx:focus {
  border: 2px solid #c78d2f;
}

/* contact separator */
.contact_separator {
  width: 1.95px;
  height: 90px;
  margin-top: -23px;
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
}

/* Info */
.wrapper_info {
  display: flex;
  flex-direction: row;
}
.info_txt {
  margin: 13px 22px 0px 4px;
  font-family: MochiyPopPOne;
  opacity: 27%;
  color: #000000;
}

/* travel image */
.wrapper_travel {
  margin-left: 8px;
}

/* tour Nav */
.wrapper_tour_nav {
  display: flex;
  flex-direction: row;
  border-radius: 40px;
  justify-content: space-evenly;
  margin: 15px 12px;
  width: 1278px;
  /* padding-right: 0px;
  padding-left: 2px; */
  background-color: #000000;
}
.tour_tab {
  padding: 25px 0;
  height: 100%;
}
.tour_tab_txt {
  font-family: bokonique;
  font-weight: 100;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
.tour_tab:hover,
.tour_tab:active {
  position: relative;
}
.tour_tab:hover::after,
.tour_tab:active::after {
  content: "";
  height: 7px;
  width: 70%;
  background-color: #c78d2f;
  position: absolute;
  left: 15%;
  bottom: 0;
}

/* **Footer */
.footer_container {
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.wrapper_footer {
  color: antiquewhite;
  margin: 31px 120px 70px;
}
/* Footer Links */

.footer_wrapper_links {
  display: flex;
  flex-direction: row;
  font-family: bokonique;
  font-size: 21px;
  color: #ffffff;
  letter-spacing: 1.36px;
  margin-top: 0;
}

/* footer_links */
.footer_links {
  list-style-type: none;
  margin-top: 0px;
}
.footer_links > li:hover {
  color: #c78d2f;
}

.footer_link_txt > ul {
  display: flex;
  flex-direction: column;
}

/* Footer Bottom section */
.footer_bottom_part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Footer Social Media */
.footer_social_media_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  width: 590px;
  height: 212px;
  background-color: #272525;
  margin-top: 79px;
}

/* footer_social_media_txt */
.footer_social_media_txt {
  font-family: bokonique;
  color: #c78d2f;
  font-size: 37px;
  letter-spacing: 1.4px;
}

/* footer_social_media_wrapper */
.footer_social_media_wrapper {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.sm_icon {
  position: absolute;
}
.sm_icon_wrapper {
  position: relative;
}

/* Footer Copy Right */
.footer_copy_right {
  display: flex;
  flex-direction: column;
  font-family: bokonique;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter !important;
  letter-spacing: 0.6px;
  margin-right: 16px;
}

/* **Private Tours */
.container_private_tours {
  margin: 29px 75px 40px 100px;
  font-family: bokonique;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.wrapper_section_private_tours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper_private_tours {
  text-align: center;
  margin: 44px;
}
.title_private_tours {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
}
.txt_private_tours {
  font-size: 26px;
  /* font-weight: 500; */
  color: #c78d2f;
  margin: 68px 155px auto 176px;
  text-align: start;
  word-wrap: break-word;
  width: 530px;
}
.btn_wrapper_private_tours {
  margin-top: 17px;
  /* height: 20px;
  width: 90px; */
}
.btn_private_tours {
  border: none;
  padding: 14px 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 23px;
  font-weight: 400;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
}
