@font-face {
  font-family: MochiyPopPOne;
  src: url(./../assets/fonts/MochiyPopPOne-Regular.ttf);
}
@font-face {
  font-family: bokonique;
  src: url(./../assets/fonts/bokonique/Bokonique-Regular.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* **Navbar */
.container_nav {
  margin: 69px 100px 5px 118px;
  position: relative;
  /* border: #c78d2f 1px solid; */
}

/* logo */
.wrapper_logo {
  position: absolute;
  left: -40px;
  top: -34px;
  z-index: -1;
}

/* wrapper_top_nav */
.wrapper_top_nav {
  display: flex;
  flex-direction: row;
}

/* txt_logo */
.wrapper_logo_txt {
  color: #c78d2f;
  font-family: MochiyPopPOne;
  font-size: 35px;
  letter-spacing: 0.4px;
  width: min-content;
}

/* top navbar */
.wrapper_top_tabs_nav {
  display: flex;
  flex-direction: row;
  font-family: bokonique;
  font-size: 24px;
  margin-left: -3px;
  margin-top: -22px;
  /* margin-bottom: 27px; */
  position: relative;
}
.top_tab {
  margin-right: 47px;
  letter-spacing: 0.2px;
}
.top_tab_txt:hover,
.active {
  color: #c78d2f;
}

/* line b/w */
.wrapper_top_tabs_nav::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #000000;
  opacity: 27%;
  position: absolute;
  left: -30px;
  bottom: -25px;
}

/* contact nav */
.wrapper_contact_nav {
  display: flex;
  flex-direction: row;
  margin-top: 62px;
  margin-left: 73px;
}

/* Search box */
.wrapper_search_bx {
  display: flex;
  flex-direction: row;
  width: 302px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.search_icon {
  margin: 5px 9px;
  padding: 2px;
}
.search_bx {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 19px;
}
.search_bx:hover,
.search_bx:focus,
.search_bx:focus-visible {
  border: none;
  outline: none;
}
.wrapper_search_bx:hover,
.wrapper_search_bx:focus {
  border: 1px solid #c78d2f;
}

/* contact separator */
.contact_separator {
  width: 1.95px;
  height: 90px;
  /* margin-top: 0px; */
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
}

/* Info */
.wrapper_info {
  display: flex;
  flex-direction: row;
  margin: 7px 16px;
}
.info_txt {
  /* margin: 13px 10px 0px 4px; */
  margin-top: 4px;
  margin-left: 8px;
  padding-right: 7px;
  font-family: MochiyPopPOne;
  letter-spacing: 0.3px;
  opacity: 27%;
  color: #000000;
}

/* travel image */
.wrapper_img_travel {
  /* margin-left: 8px; */
  position: absolute;
  z-index: -1;
  top: 3px;
  right: -5px;
}

/* **tour Nav */
.wrapper_tour_nav {
  display: flex;
  flex-direction: row;
  border-radius: 38px;
  justify-content: space-evenly;
  margin-top: 25px;
  /* width: 1276px; */
  /* max-width: 1276px; */
  background-color: #000000;
  margin-right: 40px;
}
.tour_tab {
  padding: 25px 0;
  height: 100%;
}
.tour_tab_txt {
  font-family: bokonique;
  font-weight: 100;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
.tour_tab:hover,
.tour_tab:active {
  position: relative;
}
.tour_tab:hover::after,
.tour_tab:active::after {
  content: "";
  height: 7px;
  width: 70%;
  background-color: #c78d2f;
  position: absolute;
  left: 15%;
  bottom: 0;
}

/* **Footer */
.footer_container {
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.wrapper_footer {
  color: antiquewhite;
  margin: 31px 120px 70px;
}
/* Footer Links */

.footer_wrapper_links {
  display: flex;
  flex-direction: row;
  font-family: bokonique;
  font-size: 21px;
  color: #ffffff;
  letter-spacing: 1.36px;
  margin-top: 0;
}

/* footer_links */
.footer_links {
  list-style-type: none;
  margin-top: 0px;
}
.footer_links > li:hover {
  color: #c78d2f;
}

.footer_link_txt > ul {
  display: flex;
  flex-direction: column;
}

/* Footer Bottom section */
.footer_bottom_part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Footer Social Media */
.footer_social_media_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  width: 590px;
  height: 212px;
  background-color: #272525;
  margin-top: 79px;
}

/* footer_social_media_txt */
.footer_social_media_txt {
  font-family: bokonique;
  color: #c78d2f;
  font-size: 37px;
  letter-spacing: 1.4px;
}

/* footer_social_media_wrapper */
.footer_social_media_wrapper {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.sm_icon {
  position: absolute;
}
.sm_icon_wrapper {
  position: relative;
}

/* Footer Copy Right */
.footer_copy_right {
  display: flex;
  flex-direction: column;
  font-family: bokonique;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter !important;
  letter-spacing: 0.6px;
  margin-right: 16px;
}

/* **Private Tours */
.container_private_tours {
  margin: 40px 100px 40px 118px;
  font-family: bokonique;
  display: flex;
  flex-direction: column;
  border: #c78d2f 1px solid;
}
.wrapper_private_tours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #d92626 1px solid;
}
.wrapper_pt1 {
  margin-bottom: 55px;
}
.wrapper_pt2 {
  margin-bottom: 55px;
}

/* Image Private Tour  */
.img_private_tour1 {
  margin-right: 30px;
}
.img_private_tour2 {
  margin-left: -12px;
}
.img_private_tour3 {
  margin-right: 33px;
}

/* each text content styling */
.wrapper_content_private_tour {
  flex: 1;
  text-align: center;
}
.wrapper_c_pt1,
.wrapper_c_pt2 {
  margin-top: 44px;
}
.wrapper_c_pt3 {
  margin-top: 59px;
}
.wrapper_title_private_tour {
  display: flex;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2.1px;
  color: #000000;
}
.wrapper_title_pt1 {
  justify-content: flex-start;
  text-align: left;
}
.wrapper_title_pt2 {
  justify-content: center;
  text-align: center;
}
.wrapper_title_pt3 {
  justify-content: center;
  text-align: left;
}
.title_private_tour3 {
  width: 65%;
}
.wrapper_txt_private_tour {
  display: flex;
  text-align: left;
}
.wrapper_txt_pt1 {
  justify-content: center;
}
.wrapper_txt_pt2 {
  justify-content: flex-end;
  margin-top: 35px;
}
.wrapper_txt_pt3 {
  justify-content: flex-start;
  margin-top: 35px;
}

.txt_private_tour {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1.5px;
  word-spacing: 1px;
  word-wrap: break-word;
  color: #c78d2f;
}

.txt_pt1 {
  width: 74%;
}
.txt_pt2 {
  width: 97%;
}
.txt_pt3 {
  width: 90%;
  margin-left: 43px;
}

.wrapper_btn_private_tour {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}
.wrapper_btn_pt1,
.wrapper_btn_pt3 {
  text-align: left;
}
.wrapper_btn_pt2 {
  text-align: center;
}
.btn_private_tour {
  border: none;
  padding: 14px 23px;
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  font-weight: 100;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
}

/* **Reservations */
.container_reservations {
  border: #7126d9 1px solid;
  margin: 40px 100px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.wrapper_title_reservations {
  display: flex;
  flex-direction: center;
  justify-content: center;
}
.title_reservations {
  display: flex;
  justify-content: center;
  font-family: bokonique;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #c78d2f;
}

/* Facilities */
.wrapper_facilities {
  border: 1px solid #057743;
  display: flex;
  padding: 45px 0px;
}
.inner_wrapper_facilities {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 105px;
  border: 1px solid #26d935;
}
.wrapper_facility {
  border: 1px solid #d9269d;
}
.inner_wrapper_facility {
  border: 1px solid #d92626;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.wrapper_icon_facility {
  border: 1px solid #572fc7;
}
.circle_icon_facility {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: #00b7bb;
  border-radius: 50%;
  float: 1;
}
.circle_icon_facility:hover,
.circle_icon_facility:active {
  background-color: #c78d2f;
}
.label_facility {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: bokonique;
  font-size: 26px;
  letter-spacing: 1.2px;
}

/* Title Vacation Type */
.title_vacation_type {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: bokonique;
  font-size: 30px;
  letter-spacing: 0.8px;
}

/* Title Vacation Type */
.wrapper_vacation_types {
  border: #00b7bb solid 2px;
  display: flex;
  justify-content: center;
}
.inner_wrapper_vacation_types {
  border: #033435 solid 2px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* text-align: center; */
  /* gap: 30%; */
}
.wrapper_rbtn_group {
  border: #bb6400 solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  gap: 10%;

  font-family: bokonique;
  font-size: 26px;
  letter-spacing: 1.2px;
  /* line-height: 1px; */
  color: #000000;
  cursor: pointer;
}
.wrapper_cbx_field {
  /* border: #bb0070 solid 2px; */
  /* width: 10%; */
  width: 40px;
  height: 40px;
  border: 6px solid #000000;
  border-radius: 50%;
}
.cbx_field[type="checkbox"] {
  display: none;
}
/* .wrapper_cbx_lbl::before{
  content: "";
} */
