@import "index.css";

.container_about_us {
  margin: 40px auto;
  width: 100vw;
  display: flex;
  background-image: url("./../assets/images/about_us.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-primary);
}
.wrapper_about_us {
  width: 60%;
  margin: 15% 36% 13% auto;
  display: flex;
  justify-content: center;
  align-items: left;
}
.wrapper_content_about_us {
  background-color: #ffffff;
  height: 443px;
  width: 747px;
  border-radius: 35px;
  padding: 74px 72px 60px 93px;
}
.title_about_us {
  font-family: var(--font-primary);
  font-size: 58px;
  font-weight: 900;
  text-shadow: 1.3px 1.3px 1.3px var(--color-secondary);
  color: var(--color-secondary);
}
.txt_about_us {
  font-family: var(--font-primary);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1.3px;
  line-height: 30px;
  color: var(--color-black);
  margin: 31px 54px 0px 2px;
}
