@import "index.css";

/* @font-face {
  font-family: MochiyPopPOne;
  src: url(./../assets/fonts/MochiyPopPOne-Regular.ttf);
}
@font-face {
  font-family: bokonique;
  src: url(./../assets/fonts/bokonique/Bokonique-Regular.otf);
} */

.container_about_us {
  border: #c78d2f 1px solid;
  margin: 40px auto;
  width: 100vw;
  /* height: 500px; */
  /* font-family: bokonique; */
  display: flex;
  background-image: url("./../assets/images/about_us.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c78d2f;
}
.wrapper_about_us {
  /* border: 2px solid #000000; */
  width: 60%;
  margin: 20% 30% 20% auto; /* Adjust left margin to 30% */
  display: flex;
  justify-content: center;
  align-items: left;
}
.wrapper_content_about_us {
  background-color: #ffffff;
  height: 200px;
  width: 500px;
  border-radius: 23px;
  padding: 80px;
}
.title_about_us {
  color: var(--aqua);
  font-family: var();
}
