/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base Reset */
* {
  padding: 0;
  margin: 0;
}

/* custome properties/var */
:root {
  /* color */
  --primary-100: #bbc0c2;
  --primary-200: #8f969a;
  --primary-300: #626c71;
  --primary-400: #354249;
  --primary-500: #1f2e35;
  --primary-600: #18242a;
  --primary-700: #121b1f;
  --primary-800: #0c1215;
  --primary-900: #06090a;

  /* dark grey */
  --grey-dark: #3d3d3d;
  --green-dark: #1e393e;
  --purple-dark: #282b45;
  --blue-dark: #1c3149;

  --red-light: #ffede5;
  --green-light: #e8f5f4;
  --purple-light: #f2e7fb;
  --blue-light: #e5edff;
  --green-medium: #2fd886;
  --red-medium: #ff3366;

  /* blue grey */
  --blue-100: #e6eeff;
  --blue-300: #0086d6;
  --blue-500: #335ef7;
  --purple: #6b55f8;
  --grey-medium: #475e69;
  --blue-grey: #30444e;

  --white-100: #f7f8fa;
  --white-500: #ffffff;
  --gold: #ffc942;

  /* fonts */
  --fontFamily: "Roboto", sans-serif;

  /* miscellaneous var */
  --borderRadius: 1rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  /* --max-width: 1120px; */
  --fixed-width: 600px;

  /* sizes */
  --size-xs: 0.75rem; /* 12px */
  --size-sm: 0.875rem; /* 14px */
  --size-base: 1rem; /* 16px */
  --size-lg: 1.125rem; /* 18px */
  --size-xl: 1.25rem; /* 20px */
  --size-2xl: 1.5rem; /* 24px */
  --size-3xl: 1.875rem; /* 30px */
  --size-4xl: 2.25rem; /* 36px */
  --size-5xl: 3rem; /* 48px */
  --size-6xl: 3.75rem; /* 60px */
  --size-7xl: 4.5rem; /* 72px */
  --size-8xl: 6rem; /* 96px */
  --size-9xl: 8rem; /* 128px */
}

/* light dark theme */
[data-theme="light"] {
  /* background and text color var */
  --bg-1-color: var(--white-500);
  --bg-2-color: var(--primary-500);
  --bg-3-color: var(--grey-dark);
  --bg-4-color: var(--white-100);
  --bg-5-color: var(--blue-100);

  --txt-1-color: var(--primary-500);
  --txt-2-color: var(--grey-medium);
  --txt-3-color: var(--white-500);
}

[data-theme="dark"] {
  /* background and text color var */
  --bg-1-color: var(--primary-500);
  --bg-2-color: var(--white-500);
  --bg-3-color: var(--grey-dark);
  --bg-4-color: var(--blue-grey);
  --bg-5-color: var(--blue-grey);

  --txt-1-color: var(--white-500);
  --txt-2-color: var(--white-500);
  --txt-3-color: var(--white-500);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.55;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.p-txt {
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 160rem) {
  h1 {
    font-size: 4.6rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.3rem;
  }
  h5 {
    font-size: 3.1rem;
  }
  p,
  .p-txt {
    font-size: 2.2rem;
  }
  .general {
    font-size: 2.5rem;
  }
  .tab {
    font-size: var(--size-4xl);
  }
}
/* max-width: 2560rem */
@media screen and (max-width: 160rem) {
  h1 {
    font-size: 4.3rem;
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 3.3rem;
  }
  h4 {
    font-size: 3.1rem;
  }
  h5 {
    font-size: 2.9rem;
  }
  p,
  .p-txt {
    font-size: 2.2rem;
  }
  .general {
    font-size: 2.5rem;
  }
  .tab {
    font-size: var(--size-3xl);
  }
}
/* max-width: 1440rem */
@media screen and (max-width: 90rem) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 2.9rem;
  }
  h5 {
    font-size: 2.7rem;
  }
  p,
  .p-txt {
    font-size: 2.2rem;
  }
  .general {
    font-size: 2.5rem;
  }
  .tab {
    font-size: var(--size-3xl);
  }
}
/* max-width: 1024rem */
@media screen and (max-width: 64rem) {
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 3.3rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.7rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  p,
  .p-txt {
    font-size: 2.2rem;
  }
  .general {
    font-size: 2.5rem;
  }
  .tab {
    font-size: var(--size-2xl);
  }
}
/* max-width: 768rem */
@media screen and (max-width: 48rem) and (min-width: 26.61rem) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3.1rem;
  }
  h3 {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.3rem;
  }
  p,
  .p-txt {
    font-size: 2.2rem;
  }
  .general {
    font-size: 2.5rem;
  }
  .tab {
    font-size: var(--size-2xl);
  }
  .logo {
    width: var(--size-9xl);
  }
}
/* max-width: 425rem */
@media screen and (max-width: 26.6rem) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.3rem;
  }
  h5 {
    font-size: 2.2rem;
  }
  p,
  .p-txt {
    font-size: 2rem;
  }
  .general {
    font-size: 2.5rem;
  }
  .tab {
    font-size: var(--size-xl);
  }
  .logo {
    width: var(--size-6xl);
  }
}
@media screen and (max-width: 25rem) {
  h1 {
    font-size: 2.6rem;
  }
  p,
  .p-txt {
    font-size: 1.9rem;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  list-style-type: none;
  font-family: var(--fontFamily);
}
.btn {
  cursor: pointer;
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.2rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
@media screen and (min-width: 26.7rem) {
  .logo {
    width: var(--size-6xl);
  }
}

.wrapper-logo {
  display: flex;
  align-items: center;
}
