* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #bc53a2, #5f1782);
  padding-inline: 0 !important;
  padding-block: 0.5rem 0.2rem;
}
.navbar-brand img {
  height: 2.5rem;
  padding-left: 1.25rem;
  filter: drop-shadow(-3px 3px 2px #222);
}
.navbar-brand img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.navbar-nav li {
  padding: 0 0.7rem;
}
.navbar-nav li a {
  color: #fff;
  font-weight: 600;
  float: right;
  text-align: left;
  opacity: 0.7;
}
.navbar-nav li:hover a {
  color: #fff;
  font-weight: 600;
  opacity: 1;
}
.toggler-icon {
  color: #fff;
  font-size: 1.7rem !important;
  filter: drop-shadow(2px 2px 2px #222);
}
.navbar-toggler {
  border: none !important; /* border applied on it  */
  outline: none !important; /* no outline found */
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.navbar-toggler:hover,
.navbar-toggler:active {
  border: none;
  outline: none;
  opacity: 1;
}

/* Banner Section */
#banner {
  background-image: linear-gradient(to right, #bc53a2, #5f1782);
  color: #fff;
  padding-top: 5%;
}
.promo-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 5.25rem;
  text-shadow: 2px 2px 3px #222;
}
.promo-desc {
  padding-inline: 0.4rem;
}
.play-btn {
  width: 2.8rem;
  margin: 1.25rem;
  filter: drop-shadow(2px 2px 2px #222);
}
.play-btn:hover {
  width: 2.9rem;
}
#banner a {
  color: #fff;
  text-decoration: none;
}
.bottom-img {
  width: 100%;
}

/* Services Section */
#services {
  padding: 5.5rem 0;
}
.service-img {
  width: 6.25rem;
  margin-top: 1.25px;
}
.service {
  padding: 1.25rem;
}
.service h4 {
  padding: 0.32rem;
  margin-top: 1.57rem;
  text-transform: uppercase;
}
.title {
  line-height: 47px;
}
.title::before {
  content: "";
  background-color: #721798;
  height: 0.32rem;
  width: 12.5rem;
  margin-inline: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background-color: #721798;
  height: 0.63rem;
  width: 6.13rem;
  margin-bottom: 2.5rem;
  margin-inline: auto;
  display: block;
  transform: translateY(8px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 0.5rem 1.57rem;
  border: none;
  border-radius: 1.25rem;
  background-image: linear-gradient(to right, #bc53a2, #5f1782);
}

/* ABOUT US */
#about-us {
  background-color: #f8f9fa;
  padding: 5.5rem 0;
}
.about-title {
  font-size: calc(1.25rem + 1.5vw);
  font-weight: 600;
  margin-top: 8%;
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 2.2rem;
  }
}
#about-us ul li {
  margin: 0.63rem 0;
}
#about-us ul {
  margin-left: 1rem;
}

/* Testimonials */
#testimonials {
  padding: 5.5rem 0;
}
.testimonials {
  border-left: 0.25rem solid #7b1798;
  margin-block: 3.13rem;
}
.testimonials img {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  margin: 0 0.63rem;
}
.user-details {
  display: inline-block;
  font-size: 0.75rem;
}

/* Social Media */
#social-media {
  background-color: #f8f9fa;
  padding: 6.25rem 0;
}
#social-media h1 {
  font-weight: 600;
  margin-bottom: 1.88rem;
}
@media (min-width: 1200px) {
  #social-media h1 {
    font-size: 2.25rem;
  }
}
#social-media img {
  width: 3.75rem;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}

/* FOOTER */
#footer {
  background-image: linear-gradient(to right, #bc53a2, #5f1782);
  color: #fff;
}
.footer-img {
  width: 100%;
  margin-bottom: 1.25rem;
}
.footer-box {
  padding: 1.25rem;
  margin-left: 0.5rem;
}
.footer-box img {
  margin-block: -1rem 0.9rem;
  margin-left: -0.25rem;
  height: 2.5rem;
  filter: drop-shadow(-3px 3px 2px #222);
}
.footer-box .fa-solid {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  padding-top: 0.7rem;
  border-radius: 0.25rem;
  background-image: linear-gradient(to right, #bc53a2, #5f1782);
}
.footer-box .form-control {
  box-shadow: none;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1.63rem;
  max-width: 16.25rem;
}
.footer-box .btn-primary {
  box-shadow: none;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1.88rem;
  background-image: linear-gradient(to right, #bc53a2, #5f1782);
}
hr {
  background-color: #fff;
}
.copy-right {
  margin-bottom: 0;
  padding-bottom: 0.4rem;
  text-align: center;
  font-size: 0.75rem;
}
.copy-right a {
  color: red;
  text-decoration: none;
  text-shadow: 2px 2px 3px #222;
}
